---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Henry Le | Projects"
	description="Learn about Henry Le's most featured projects"
>
	<div class="stack gap-15 lg:gap-20">
		<main class="wrapper stack gap-2">
			<Hero
				title="Projects"
				tagline=""
				align="start"
			/>
			
			<p style="font-size: 1.25rem; margin-bottom: 2rem;;">
				Every project presents a unique business challenge and an opportunity to create meaningful impact. The projects below showcase how I combine business analysis, data analytics, business intelligence, and technology to deliver practical solutions that improve decision-making, streamline operations, and create measurable business value across a range of industries.
			</p>
			
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
			
			<div class="cta-section">
				<h4> Learn more </h4>
				<p style="margin-top: 0.5rem;">
					I hope these projects provide a clear view of my approach to solving business challenges through data and technology. If you'd like to learn more about my experience or discuss how I can help your organisation improve business performance through analytics, business intelligence, and process optimisation, I'd love to connect.
				</p>
				
				<div class="cta-button-wrapper" style="margin-top: 2rem;">
					<CallToAction href="/experience-and-qualifications/">
						About Me
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</div>
		</main>
		
		<ContactCTA />
	</div>
</BaseLayout>


<style>
	.cta-section {
		padding-top: 2rem;
		p {
			text-align: justify;
		}
		.cta-button-wrapper {
			a {
				display: flow;
			}
		}
	}
	
	@media (min-width: 50em) {
		.cta-section {
			p {
				font-size: 1.25rem;
				text-align: justify;
			}
			.cta-button-wrapper {
				a {
					display: inline-flex;
				}
			}
		}
	}

</style>