---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Business Analysis</h3>
		<p>Understand business challenges, gather requirements, and design practical solutions that improve processes and support organisational goals.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="chart-line-up" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Data Analytics & BI</h3>
		<p>Transform data into meaningful insights through interactive dashboards, reporting, and analytics that enable informed business decisions.</p>
	</div>
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="gear" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Process Optimisation</h3>
		<p>Improve operational efficiency by streamlining workflows, automating repetitive tasks, and integrating business systems.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
	
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	
	.skills h3 {
		font-size: var(--text-l);
	}
	
	.skills p {
		color: var(--gray-400);
	}
	
	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
		
		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}
		
		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
