---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="gear" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Digitalisation & Automation</h3>
		<p>Leverage technology to streamline and automate business processes, enhancing efficiency and reducing manual effort.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="atom" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Analytics & Optimisation</h3>
		<p>Utilise data-driven insights to optimise business processes, enhance decision-making, and drive continuous improvement.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="chart-line-up" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Outcome-Driven</h3>
		<p>Practical and flexible approaches to effectively drive improvement initiatives and achieve measurable business outcomes.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
	
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	
	.skills h3 {
		font-size: var(--text-l);
	}
	
	.skills p {
		color: var(--gray-400);
	}
	
	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
		
		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}
		
		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
